<div class="header">
    <div class="logo-nav">
         <div class="logo">
             MyWebsite
        </div>
        <div class="nav">
            <a href="#" (click)="selectAdminOnClick()">Admin</a>  
            <a href="#" (click)="selectHomeOnClick()">Home</a>
            <button class="sub-btn nav-sub-btn" (click)="onHeaderSubscribe()">Subscribe</button>
        </div>
    </div>  
    <div [ngSwitch]="selectedComponent">
        <app-admin *ngSwitchCase="'admin'"></app-admin>
        <app-home *ngSwitchCase="'home'"></app-home>
    </div>
</div>

