.logo-nav{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding:10px;
}

.nav{
    display: flex;
    gap:10px;
}

.nav-sub-btn{
    background-color: rgb(44, 117, 44);
    font-size: large;
}

.logo{
    font-size: x-large;
    color: coral;
    padding:10px;
}

a{
    color:black;
    font-weight: bold;
    font-size: larger;
    padding-top: 13px;
    text-decoration: none;
}